.ac-m-0
  margin 0 !important
.ac-m-t-0
  margin-top 0 !important
.ac-m-b-0
  margin-bottom 0 !important
.ac-m-l-0
  margin-left 0 !important
.ac-m-r-0
  margin-right 0 !important

.ac-p-0
  padding 0 !important
.ac-p-t-0
  padding-top 0 !important
.ac-p-b-0
  padding-bottom 0 !important
.ac-p-l-0
  padding-left 0 !important
.ac-p-r-0
  padding-right 0 !important

.ac-m-10
  margin 10px !important
.ac-m-t-10
  margin-top 10px !important
.ac-m-b-10
  margin-bottom 10px !important
.ac-m-l-10
  margin-left 10px !important
.ac-m-r-10
  margin-right 10px !important

.ac-p-10
  padding 10px !important
.ac-p-t-10
  padding-top 10px !important
.ac-p-b-10
  padding-bottom 10px !important
.ac-p-l-10
  padding-left 10px !important
.ac-p-r-10
  padding-right 10px !important
  
.ac-m-15
  margin 15px !important
.ac-m-t-15
  margin-top 15px !important
.ac-m-b-15
  margin-bottom 15px !important
.ac-m-l-15
  margin-left 15px !important
.ac-m-r-15
  margin-right 15px !important

.ac-p-15
  padding 15px !important
.ac-p-t-15
  padding-top 15px !important
.ac-p-b-15
  padding-bottom 15px !important
.ac-p-l-15
  padding-left 15px !important
.ac-p-r-15
  padding-right 15px !important
  
.ac-m-20
  margin 20px !important
.ac-m-t-20
  margin-top 20px !important
.ac-m-b-20
  margin-bottom 20px !important
.ac-m-l-20
  margin-left 20px !important
.ac-m-r-20
  margin-right 20px !important

.ac-p-20
  padding 20px !important
.ac-p-t-20
  padding-top 20px !important
.ac-p-b-20
  padding-bottom 20px !important
.ac-p-l-20
  padding-left 20px !important
.ac-p-r-20
  padding-right 20px !important